<div class="list-group-item">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <a class="col-lg col-md" href="<%= user_path(tweet.user) %>"><%= tweet.user.name %></a>
      <span class="col-lg col-md"><%= tweet.user.screen_name %></span>
      <span class="col-lg col-md"><%= tweet.created_at.strftime('%H:%M %b %-d, %Y') %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg col-md"><%= tweet.message %></div>
  </div>


  <% if user_signed_in? %>
    <div class="row">
      <% if current_user.favorited_tweet?(tweet) %>
        <%= button_to "Unfavorite", unfavorite_path(tweet, redirect: request.original_url), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= button_to "Favorite", favorite_path(tweet, redirect: request.original_url), method: :post, class: "btn btn-secondary" %>
      <% end %>
    </div>
  <% end %>
</div>