<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">Twit</a>

  <% if user_signed_in? %>
    <%= link_to "My Profile", user_path(current_user), class: "nav-item nav-link" %>
    <%= link_to "My Mentions", mentions_path(current_user), class: "nav-item nav-link" %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
  <% else %>
    <%= link_to "Log In", new_user_session_path, class: "nav-item nav-link" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link" %>
  <% end %>
</nav>